html, body {
    background: #fff;
    color: #222;
    display: block;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    min-width: 400px;
    padding: 0;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-menu-wrap {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 60px;
    padding: 6px;
}

.top-menu-box {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    height: 48px;
    justify-content: flex-end;
    min-width: auto;
    padding-right: 15px;
}

a, a:visited, a:hover {
    color: black;
    cursor: pointer;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 13px;
    text-decoration: none;
    padding-left: 15px;
}

a:hover {
    text-decoration: underline;
}

.hero-wrap {
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
}

.search-wrap {
    box-sizing: border-box;
    display: block;
    max-height: 160px;
    padding: 20px;
}

.search-box {
    margin: 0 auto;
    max-width: 584px;
    padding-top: 6px;
    width: auto;
}

.search-box form {
    display: flex;
    flex-direction: column;
}

.search-input {
    border: 1px solid #dfe1e5;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 24px;
    margin: 0;
    padding: 5px 47px;
    z-index: 3;
    height: 46px;
}

.search-input:hover {
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.search-input input {
    border: 0;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;

    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    font: 400 13.3333px Arial;
    font-size: 16px;
}

.search-buttons {
    height: 70px;
    padding-top: 18px;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.search-buttons input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-buttons input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.adv-title-wrap {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}
.adv-title-wrap label {
    margin-left: 10px;
}

.adv-form-wrap {
    margin: 40px 2% 0 45px;;
}
.adv-form-title {
    font-size: 16px;
    min-height: 42px;
    padding: 6px 0;
}
.adv-form-row {
    display: flex;
    justify-content: flex-start;
    min-height: 42px;
    padding-right: 40px;
}
.adv-form-label {
    font-size: 13px;
    padding: 6px 0;
    width: 167px;
}
.adv-form-row input {
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;;
    height: 25px;
    max-width: 572px;
    width: 50%;
}
.adv-form-button-wrap {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    min-height: 50px;
}
.adv-button-filler {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    max-width: 572px;
    width: 50%;
}
.adv-form-button-wrap input {
    background: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 2px;
    color: #fff;
    height: 30px;
    font-size: 11px;
    font-weight: bold;
    min-width: 120px;
}