{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}

    <h1>Create New Page</h1>

    <form action="{% url 'wiki:new' %}" method="post">
        {% csrf_token %}
        {{ new_entry }}
        <input type="submit" value="Save New Entry">
    </form>

    {% if error_message %}
        <p style="color: red; padding-left: 15px;">This page already exists. Change the title of this entry or edit the original page.</p>
    {% endif %}
{% endblock %}