{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
            <li>
                Title: <a href="{% url 'item' listing.id %}">{{ listing.title }}</a> | 
                Price: ${{ listing.price }} | 
                Author: {{ listing.author }} | 
                Date: {{ listing.date }}
            </li>
        {% empty %}
            <li>We currently don't have any item in our website.</li>
        {% endfor %}
    </ul>
{% endblock %}