{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ item.title }}</h2>

    <p>Description: {{ item.description }}</p>
    <p>Price: {{ item.price }}</p>
    <p>Author: {{ item.author }}</p>
    <p>Date: {{ item.date }}</p>

    {% if user.is_authenticated %}
        <form action="{% url 'watch' item.id %}" method="post">
            {% csrf_token %}
            {% if watchlist_flag %}
                <input type="submit" value="Remove from Watchlist">
            {% else %}
                <input type="submit" value="Add to Watchlist">
            {% endif %}
        </form>
    {% endif %}

    {% if user.is_authenticated and owner_flag %}
        <form action="{% url 'watch' item.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Close the Auction">
        </form>
    {% endif %}
    
    <h3>Comments</h3>
    {% for comment in comments %}
        <p>{{ comment.author }}, in {{ comment.date }}, says:</p>
        <p>{{ comment.text }}</p>
    {% empty %}
        <p>No comments were added to this bidding yet.</p>
    {% endfor %}
    {% if user.is_authenticated %}
        <form action="{% url 'comment' item.id %}" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="Submit comment">
        </form>
        
    {% endif %}
{% endblock %}